.cards {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     

    width: 920px;
    column-gap: 100px;

    border-spacing: 0;
}